@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.App {
  text-align: center;
}

.header {
  margin-top: 0;
}

.notes-container {
  margin: 0.5em;
}

.notes-form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.notes-form {
  display: flex;
}

.notes-form #form-submit-btn,
.notes-form input {
  margin-right: 0.5em;
}

.notes-list {
  width: 400px;
  padding-left: 0.5em;
  list-style: none;
}

.notes-list-item {
  padding: 0.5em;
  margin: 0.5em;
  background: lightgray;
  border-radius: 12px;
}

.notes-container button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  background: skyblue;
  color: white;
  font-weight: 700;
  width: auto;
  height: 25px;
  border-radius: 10px;
}

.form-text-input {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}