@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  /* background-color: #FFF3EE; */
  background-color: #F5F5F5;
  font-family: 'Roboto';
  font-style: normal;
}

h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  margin-top: 0;
}

.notes-container {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
}

.notes-form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  padding-left: 16px;
  border: 2.5px solid #e9e5e9;
  border-radius: 10px;
}

.notes-form {
  display: flex;
  align-items: center;
}

.notes-form #form-submit-btn,
.notes-form input {
  margin-right: 0.5em;
}

.notes-list {
  width: 400px;
  padding-left: 0.5em;
  list-style: none;
}

.notes-list-item {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.5em;
  margin: 0.7em 0.5em;
  background: lightgray;
  border-radius: 12px;
  min-height: 25px;
}

.notes-list-item span {
  width: 90%;
  word-break: break-word;
}

.notes-container button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  background: skyblue;
  color: white;
  font-weight: 700;
  width: auto;
  height: 25px;
  border-radius: 10px;
}

.form-text-input {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  /* border: 1px solid skyblue; */
  border: 0;
  padding-left: 10px;
  background-color: transparent;
}

.item-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  float: right;
  height: 25px !important;
  width: 25px !important;
  padding: 0;
  border-radius: 4px !important;
}

.item-btn svg {
  fill: white;
  width: 100%;
}

.item-popup {
  position: relative;
  left: 20px;
  background: skyblue;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.note-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
}

.item-popup span,
.item-popup button {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-weight: 500;
}

.item-popup button {
  border: 0.1px solid #f3f3f3;
  margin: 0 5px;
  background: #f3f3f3;
}

.notes-container button:hover {
  filter: hue-rotate(35deg);
}

.item-popup button:hover {
  filter: brightness(0.85);
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-container input {
  margin: 0.5em 0;
}

.signin-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  background: skyblue;
  color: white;
  font-weight: 700;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 6px 20px;
  margin: 6px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.header-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.left-column {
  width: 300px;
}

.column-btn {
  height: auto !important;
  display: flex;
  padding: 5px 7px;
  border-radius: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0.5em;
  background: transparent !important;
  align-items: center;
}

.left-column .column-btn {
  padding: 15px 10px;
}

.column-btn:hover .btn-text {
  color: #7a7a7a;
}

.btn-text {
  color: black;
  padding-left: 1em;
  font-weight: 400;
  font-size: 20px;
}

.icon-img {
  width: 25px;
}

.settings-popup {
  width: auto;
  padding: 7px 14px;
  border-radius: 24px;
}

.popup-content {
  margin-top: 60px;
  margin-left: 19px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  margin-top: 0.5em;
  margin-right: 1em;
}

.search-bar {
  width: 250px;
  height: 50px;
  background: #E5E7EB;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.search-bar input {
  background: none;
  border: none;
  font-size: 16px;
  height: 100%;
  padding-left: 10px;
}

.search-bar input:focus {
  outline: none;
}

.column-date {
  margin-top: 1em;
  width: 125px;
  line-height: 35px;
  text-align: end;
  font-size: 20px;
}